<h3>Chat</h3>
<hr>


<input type="text" id="inputMessages">
<span>presiona la tecla Enter para enviar el mensaje</span>
<div id="messages"></div>

<script src="socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/chat.js"></script>
