<h1>Login</h1>

<form action="/session/login" method="post" >
<input placeholder="email" required type="email" name="email">
<input placeholder="password" required type="password" name="password" >
<input type="submit">
</form>

<a href="/session/github">Login with Github</a>
<span>or</span>
<a href="/register">Register</a>
<br>
<a href="/recoverPassword">Olvidé mi contraseña</a>

