<h1>Products</h1>
<a href="/logout">Cerrar Sesión</a>
<ul id="container">

</ul>
<div id="page"></div>
<button id="back">anterior</button>
<button id="following">siguiente</button>
<link rel="stylesheet" href="/styles.css">
<script src="./products.js"></script>