<h2>Recuperar contraseñaa</h2>
<form action="/recoverPassword"  method="POST"   >
    <label for="">Ingrese su email asociado a su cuenta</label>
    <input type="email" name="email" id="">
    <button type="submit">Enviar</button>
</form>