<h1>Register</h1>

<form action="/session/register" method="post" >
<input placeholder="fist name" required type="text" name="first_name">
<input placeholder="last name" required type="text" name="last_name">
<input placeholder="age" required type="text" name="age">
<input placeholder="email" required type="email" name="email">
<input placeholder="password" required type="password" name="password" >
<input type="submit">
</form>

<a href="/session/github">Login with Github</a>
<span> or</span>
<a href="/login">Login</a>
