<h1>Sing in</h1>

<form action="/session/singin" method="post" >
<input placeholder="name" required type="text" name="name">
<input placeholder="email" required type="email" name="email">
<input placeholder="password" required type="password" name="password" >
<input type="submit">
</form>

<a href="/login">login</a>